  .ant-table-thead .ant-table-cell {
  background-color: #F4F5FC !important;
  }
/* .custom-row {
  background-color: #F4F5FC;
} */
/* .ant-table-tbody{
  padding: 100px !important;

}
.ant-table-tbody > tr > td{
  padding: 10px !important;
} */
.ant-table-tbody > tr{
  background-color: #F4F5FC;
}
.ant-table-tbody {
  background-color: #ffffff;
}