.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem 0;
    padding: 0 30px;
    list-style: none;
    /* border-bottom: 1px solid #ccc; */
}


.metricsCard {
   padding: 0 30px;
}

.tableBlock {
    margin-top: 20px;
    padding: 0 30px;
}